{% extends 'blog/base.html' %}
{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %}
<<img src="https://cv4i6g.bn1304.livefilestore.com/y4mt78hmLTxPiWPhyj7p8z8CQiAGTutQSCt7uhxFw4MkvuocnfWiFPXX8Q-Q8S7DgYrVgOWwbqHIPu1uXqy1ALoGf3nxRRcEJLt1YHrqf_noXtTvx4YD_cUE3tDytphbRP9eXUC_kpF93wtveaL7bCche07kylkoGc_ukPMInRfkxKc8RdDR1bMABR_Rx5c21zHLEEY0QwmcAsvUOGeeD3Aww/FB_20141224_10_42_06_Saved_Picture.jpg?psid=1" /